Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.status
config.log
configure
depcomp
COPYING
INSTALL
compile
install-sh
missing
*/.deps
*/Makefile.in
*/Makefile
*~
*.swp
*/*~
*/*.swp
*.o
*/*.o
*.tar.gz
*.job
speedtest/speedtest
